.content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
  margin-top: var(--card-gap);
}

.element {
  height: 1px;
  width: 100%;
}

@media (max-width: 1100px) {
  .content {
    justify-content: center;
  }
}
