:root {
    --header-height: 64px;
    --card-gap: 48px;
    --all-transition: all 0.3s ease-in-out;
    --heart-color: rgba(255, 58, 0, 1);

}

html {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    padding: 0;
    border: none;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 21px; 
    letter-spacing: 0.25px; 
    text-align: center;
}
ul {
    list-style: none;
}

a {
    text-decoration: none; 
    color: inherit;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}